# API & Core 
fastapi
uvicorn==0.25.0
pydantic
pydantic-settings

# Database & ORM (Async)
sqlalchemy==2.0.28
aiosqlite
langgraph-checkpoint-sqlite
asyncpg==0.29.0
pgvector==0.2.5
alembic==1.13.1

# Orchestration & LLM
langgraph
langchain-core
langchain-ollama
litellm==1.34.0

# Security (PII Scrubbing)
presidio-analyzer==2.2.35
presidio-anonymizer==2.2.35

# UI & Clients
aiogram
httpx
python-dotenv
email-validator==2.1.1

# Model talking only English, let's add translation capabilities
deep-translator==1.11.4

# Analyze web search results(the average price of product)
langchain-community==0.3.1
duckduckgo-search==6.4.2